ul.text-left li:last-child a {
    display: inline;
    padding: 15px 5px;
}

#reset_password h2, #signup h2{font-size:21px;color:#791e47;text-align:center;max-width:221px;margin:30px auto auto auto;z-index:9999;background: #eee;position:relative; text-transform:uppercase}
#reset_password .border-line, #signup .border-line{max-width:317px;margin:4px auto;position:relative;top:-17px;z-index:0;border-color:#791e47}
.main_section .inner_main{margin-top:35px !important;}
.error{color:#ff0000 !important; font-size:12px}
